@import "tailwindcss";
@plugin "daisyui";

.slider-container {
    overflow: hidden; /* Hide overflow */
  }
  
  .hero {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
  }
  
  .no-scrollbar {
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
  
  /* Optional: Hide scrollbar for webkit browsers */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }